html {
    font-size: 0.69444444444vw;
    vertical-align: baseline;
  }
  
  @media screen and (min-width: 2560px) {
    html {
      font-size: 17.7777777778px;
    }
  }
  
  @media screen and (max-width: 991px) {
    html {
      font-size: 1.1990407674vw;
    }
  }
  
  @media screen and (min-device-aspect-ratio: 16 / 8) {
    @media screen and (min-width: 991px) {
      html {
        font-size: 1.1vh;
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    html {
      font-size: 2.5445292621vw;
    }
  
    .no-br br {
      display: none;
    }
  }
  
.image__full img{
    width: 100%;
    object-fit: cover;
}
.image__fullfill img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
body{
    color: #333;
    font-size: 1.8rem;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
.kl-container {
    max-width: 2560px;
    padding-inline: 80px;
}