/* register */
.register{
    position: fixed;
    right: 0;
    width: 4.5rem;
    z-index: 10;
    top: 85%;
}
/* recruit hero */
.recruit__hero__wrap{
    position: relative;
}
.recruit__hero__txt{
    position: absolute;
    top: 36.4rem;
    left: 9rem;
    z-index: 2;
}
.recruit__hero__subtitle{
    font-size: 3.8rem;
    line-height: 2.6rem;
    margin-bottom: 4rem;
    color: #fff;
}
.recruit__hero__smalltitle{
    font-weight: bold;
    font-size: 6rem;
    line-height: 7rem;
    color: #fff;
    margin-bottom: 5rem;
}
.recruit__hero__des{
    color: #fff;
    line-height: 2.6rem;
    max-width: 72rem;
}
.recruit__hero__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* recruit__benefit */



.recruit__benefit{
    margin-top: 12.8rem;
}
.recruit__benefit__wrap{
    display: flex;
    justify-content: right;
}
.recruit__benefit__inner{
    display: flex;
    justify-content: space-between;
    margin-left: 9rem;
}
.recruit__benefit__right{
    width: 51.64%;
}
.recruit__benefit__left__title{
    font-size: 6rem;
    line-height: 7.5rem;
    color:#C79156;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.recruit__benefit__left__des__txt{
    line-height: 2.6rem;
    color: #555;
    margin-bottom: 1rem;
}
.recruit__benefit__left{
    width: 47.38%;
}
/* recruit__opportunity */
.recruit__opportunity{
    margin-bottom: 5rem;
}
.recruit__opportunity__title{
    font-size: 6rem;
    line-height: 7.5rem;
    color: #C79156;
    text-align: center;
}
.recruit__opportunity__table{
    margin: 5rem 9rem 0;
}
.recruit__opportunity__table__name{
background-color: #20446F;
padding: .5rem 0;
}
.recruit__opportunity__table__name .recruit__txt{
    color: #fff !important;

}
.recruit__txt{
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: bold;
    color: #20446F;
}
.recruit__txt1{
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: bold;
    color: #555;
}
.recruit__opportunity__table__name, .recruit__opportunity__table__row__inner{
    display: flex;
}

.recruit__opportunity__table__num.recruit__txt{
    color: #C79156;
}
.recruit__opportunity__table__num{
    width: 15%;
    text-align: center;
}
.recruit__opportunity__table__pos{
    width: 50%;
}
.recruit__opportunity__table__date{
    width: 20%;
}
.recruit__opportunity__table__row{
    border-bottom: 1px solid #D9D9D9;
    cursor: pointer;
}
.recruit__opportunity__table__row__inner{
    padding: 1.8rem 0;
    position: relative;
}
.recruit__opportunity__table__icon{
    position: absolute;
    right: 5rem;
}
.recruit__opportunity__table__row__detail{
    margin-left: 15%;
    display: none;
}
.recruit__opportunity__table__row__detail__title, .recruit__opportunity__table__row__detail__des__txt{
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #C79156;
    margin-bottom: 1rem;
}
.recruit__opportunity__table__row__detail__des__txt{
color: #555 !important;
}
.recruit__opportunity__apply{
    color: #555;
    font-size: 2rem;
    line-height: 2.6rem;
    display: block;
    border-radius: .5rem;
    border: 1px #C79156 solid;
    max-width: 18rem;
    text-decoration: none;
    text-align: center;
    padding: .7rem 0;
    font-weight: 450;
    margin-bottom: 7.7rem;
    margin-top: 3rem;
}
.recruit__opportunity__apply:hover{
    color: #fff;
    background-color: #C79156;
}