.relationship__hero__img img{
    aspect-ratio: 192/98;
}
.relationship__hero__inner{
    position: relative;
}
.relationship__hero__content{
    position: absolute;
    left: 9rem;
    top: 36.4rem;
}
.relationship__hero__content__subtitle{
    font-size: 3.8rem;
    line-height: 6.8rem;
    margin-bottom: 1rem;
    color: #fff;
    
}
.relationship__hero__content__smalltitle{
font-size: 6rem;
color: #fff;
line-height: 7rem;
font-weight: bold;
word-spacing: 1rem;
}
.relationship__content__hero{
    display: flex;
    margin: 0 9rem;
    justify-content: space-between;
    margin-top: 11.5rem;
}
.relationship__content__hero__left, .relationship__content__hero__right{
    font-size: 4rem;
    line-height: 5rem;
    color: #555;

}
.relationship__content__hero__left{
    width:55.15% ;
}
.relationship__content__hero__right{
border: 1px #C79156 solid;
border-radius: 1rem;
padding: 2rem 5rem;
}
.relationship__content__history{
    margin-top: 6.2rem;
}
.relationship__content__history__title{
    text-align: center;
    color: #C79156;
    font-size: 6rem;
    line-height: 5rem;
}
.relationship__content__history__time{
    margin: 5.5rem 9rem 0;
    position: relative;
}
.relationship__content__history__year{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #989898 solid;
}
.relationship__content__history__year__item{
    color: #989898;
    font-size: 3rem;
    line-height: 7rem;
    font-weight: bold;
    width: 13.6rem;
    text-align: center;
    position: relative;
}
.relationship__content__history__year__item::after{
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #989898;
        bottom: -1.1rem;
    left: 45%;
}
.relationship__content__history__bottom{
    position: absolute;
    right: -2px;
    bottom: -1.5rem;
}
.relationship__content__history__year__item.active{
    color: #C79156;
}
.relationship__content__history__year__item.active::after{
    background-color: #C79156;
}
.relationship__content__timeline__title{
    color: #C79156;
    font-size: 6rem;
    line-height: 6.8rem;
    padding-bottom: 2.2rem;
    border-bottom: 1px #989898 solid;
}
.relationship__content__timeline{
    margin: 11.5rem 9rem 0;
}
.relationship__content__timeline__wrap .relationship__content__timeline__item:first-child{
    margin-top: 2.6rem;

}
.relationship__content__timeline__item{
    display: flex;
    max-width: 163rem;
    min-height: 10.6rem;
}
.relationship__content__timeline__item__view{
    width: 3.8rem;
    cursor: pointer;
    margin-left: 5rem;
}
 .relationship__content__timeline__item__dow{
    width: 3.1rem;
    margin-left: 5rem;
    cursor: pointer;
}
.relationship__content__timeline__item__des{
    line-height: 2.6rem;
    color: #1C3D53;
    font-weight: 450;
    width: 61.5337%;
}
.relationship__content__timeline__item__update{
    margin-left: 20rem;
    max-width: 25rem;
}