.new__hero__img img {
    aspect-ratio: 192/98;
}

.new__hero__inner {
    position: relative;
}

.new__hero__content {
    position: absolute;
    left: 12rem;
    top: 27rem;
}

.new__hero__content__subtitle {
    line-height: 5.1rem;
    margin-bottom: .75rem;
    color: #fff;

}

.new__hero__img {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: #05131D;
        opacity: 0.3;
    }
}

.new__hero__content__smalltitle {
    color: #fff;
    line-height: 5.25rem;
}

.new__hero__menu {
    position: absolute;
    bottom: 0;
    left: 12rem;
    background-color: #C79156;
    right: 12rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
}

.new__hero__menu__item__txt {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.6rem;
    padding: 1.125rem 3.375rem;
    position: relative;
    z-index: 3;
}

.new__hero__menu__item {
    position: relative;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        background-color: #D29D64;
        z-index: 2;
        top: -.375rem;
        right: 0;
        transition: .6s ease all;
        left: 0;
        bottom: 0;
        border-radius: .75rem .75rem 0 0;
        opacity: 0;
    }
}

.new__hero__menu__item.active::after,
.new__hero__menu__item:hover::after {
    opacity: 1;
}

/* new update */
.new__update {
    margin-top: 8rem;
}

.new__update__inner {
    display: flex;
    margin: 0 12rem;
}

.new__update__card__time {
    color: #C79156;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.new__update__card__title {
    color: #555;
    line-height: 2.6rem;
    font-size: 2.1rem;
    font-weight: bold;
    margin-top: 1.5rem;
    min-height: 6.075rem;
    transition: ease color .6s;
}

.new__update__card__link {
    display: block;
    margin-top: 2.25rem;
    width: 2.6625rem;
}

.new__update__card {
    padding-left: 1.125rem;
    width: 50%;
    .new__update__card__img {
        position: relative;
        overflow: hidden;
        img {
            transition: transform .6s ease;
        }
        &:after {
            content: '';
            background-color: #C79156;
            opacity: .4;
            position: absolute;
            inset: 0;
            z-index: 2;
            transition: transform .4s ease;
            transform: translateY(100%);
        }
    }
    &:hover {
        .new__update__card__img{
            img{
                transform: scale(1.2);
            }
            &:after {
                transform: translateY(0);
            }
        }
        .new__update__card__title{
            color: #D29D64;
        }
    }
}

.new__update__inner .new__update__card:first-child {
    padding-right: 1.125rem;
    border-right: 1px #E0E2E2 solid;
    padding-left: 0;

}

.new__update__card__img img {
    aspect-ratio: 853/520;
}


/* new__relate */
.new__relate {
    margin: 6rem 12rem 0;
}

.new__relate__item {
    width: calc(25% - .9rem);
    padding-right: 1.2rem;
    border-right: 1px #E0E2E2 solid;
    margin-bottom: 5.25rem;

    .new__relate__item__img {
        position: relative;
        overflow: hidden;
        img {
            transition: transform .6s ease;
        }
        &:after {
            content: '';
            background-color: #C79156;
            opacity: .4;
            position: absolute;
            inset: 0;
            z-index: 2;
            transition: transform .4s ease;
            transform: translateY(100%);
        }
    }
    &:hover {
        .new__relate__item__img{
            img{
                transform: scale(1.2);
            }
            &:after {
                transform: translateY(0);
            }
        }
        .new__relate__item__title {
            color: #C79156;
        }
    }
}

.new__relate__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new__relate__item__time {
    color: #C79156;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.new__relate__item__title {
    margin-top: 1.5rem;
    color: #333;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 1.2em;
     max-height: 2.4em; 
    transition: color ease .6s;
    display: -webkit-box;
  -webkit-line-clamp: 2;        /* số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new__relate__item__img {
    margin-top: 2.625rem;
    border-radius: .5rem;
    overflow: hidden;
}

.new__relate__item__link {
    width: 1.575rem;
    display: block;
    margin-top: 2.25rem;
}

.new__relate__wrap .new__relate__item:nth-child(4n) {
    border-right: none;
}

.new__relate__paging {
    margin-top: -1.5rem;
    margin-bottom: 7.5rem;
}

.new__relate__paging__wrap {
    display: flex;
    gap: 2.25rem;
    justify-content: center;

}

.new__relate__paging__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #0A4D93;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.6rem;
    font-weight: 700;
    font-family: roboto;
    color: #0A4D93;
    transition: color .4s ease, background-color .4s ease;
    cursor: pointer;
}

.new__relate__paging__item.active,
.new__relate__paging__item:hover {
    color: #fff;
    background-color: #C79156;
    border-color: #C79156;
}

@media only screen and (max-width: 991px) {
    .new__hero__content {
        left: 4rem;
        top: 14rem;

    }

    .new__hero__menu {
        left: 4rem;
        right: 4rem;
    }

    .new__update__inner,
    .new__relate {
        margin-inline: 4rem;
    }

    .new__relate__item {
        width: calc(100%/3 - 1rem);
    }
}

@media only screen and (max-width: 767px) {
    .new__hero__img {
        height: 40rem;

        img {
            height: 100%;
            object-fit: cover;
            object-position: right;
        }
    }

    .new__hero__content__subtitle {
        line-height: 1.4em;
    }

    .new__hero__content__smalltitle {
        line-height: 1.2;
    }

    .new__hero__content {
        left: 2rem;
    }

    .new__hero__menu__item__txt {
        font-size: 1.6rem;
        padding: 1rem 2.4rem;
        line-height: 1.2
    }

    .new__hero__menu {
        left: 2rem;
        right: 2rem;
    }

    .new__update__card__title {
        font-size: 1.6rem;
        line-height: 1.4em;
    }

    .new__update__inner,
    .new__relate {
        margin-inline: 2rem;
        flex-direction: column;
    }

    .new__update__card {
        width: 100%;
        padding-right: 0 !important;
        border-right: none !important;
        border-bottom: 1px #E0E2E2 solid;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        
    }

    .new__update__card__title {
        min-height: 0;
        margin-top: .4rem;
        margin-bottom: 1.6rem;
    }

    .new__update {
        margin-top: 6rem;
    }

    .new__relate__item {
        width: calc(50% - 1rem);
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        padding-right: 0;
        border-right: none;
        border-bottom: 1px #E0E2E2 solid;

        &:nth-last-child(2),
        &:last-child {
            border-bottom: none;
        }
    }

    .new__relate__paging__wrap {
        column-gap: 1.2rem;
    }

    .new__relate {
        margin-block: 0rem 6rem;
    }

    .new__relate__item__title {
        min-height: 0;
        margin-top: .4rem;
        margin-bottom: 1.6rem;
        font-size: 1.6rem;
    }

    .new__relate__item__img {
        margin-top: 0;
    }

    .new__relate__item__link {
        width: 2.2rem;
        margin-top: 1.6rem;
    }

    .new__update__card__link {
        margin-top: 1.6rem;
    }

    .new__relate__paging {
        margin-top: 0;
        margin-bottom: 0;
    }

    .new__hero__img {
        &:after {
            opacity: .6;
        }
    }
}