.project__intro{
    margin-bottom: 5rem;
}

.project__intro__inner{
    position: relative;
    display: flex;
    justify-content: right;
}
.project__intro__left{
    position: absolute;
    left: 0;
    top: 6rem;
    width: 71rem; 
}
.project__intro__right{
    width: 55rem;
    margin-left: 24.3rem;
    
}
.project__intro__right__subtitle{
    font-size: 2.4rem;
    font-weight: 700;
    color: #C78F50;
}
.project__intro__right__smalltitle{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #1A3D54;
}
.project__intro__right__des{
    text-align: justify;
    font-size: 1.8rem;
}
.project__intro__right__wrap{
    background: url("../img/Rectangle43.png") no-repeat 100% 100%;
    width: 63.611%;
    height: 73.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        background-size: 100% 100%;
}
.project__intro__show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.project__intro__show__wrap{
    width: 91.2rem;
}
.project__intro__show__title{
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 6rem;
    text-align: center;
}
.project__intro__show__inner{
    display: flex;
    justify-content: space-between;
}
.project__intro__show__card{
width: 22.4rem;
border: #1A3D54 1px solid;
border-radius: .5rem;
border-bottom-width: .6rem;
}
.project__intro__show__card__img{
    width: 5.4rem;
    margin: 3rem auto 0;
}
.project__intro__show__card__des{
    margin: 3rem 3rem;
    text-align: center;
}

@media only screen and (max-width:991px) {
    .project__intro__left{
        width: 40%;
    }
    .project__intro__right__wrap{
        height: auto;
    }
    .project__intro__right{
        width: auto;
        padding-right: 1rem;
        margin-left: 0;
        padding-left: 4.5rem;
        padding-bottom: 9rem;
    }
    .project__intro__show__inner{
        flex-wrap: wrap;
        margin-left: 0;
        gap: 2rem;
    }
    .project__intro__show__wrap{
        width: auto;
    }
    .project__intro__right__smalltitle{
        font-size: 2.8rem;
        margin-bottom: 1.5rem;
    }

    .project__intro__right__subtitle{
        font-size: 1.6rem;
        margin-top: 2rem;
        
    }
    .project__intro__right__des{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .project__intro__show__card{
        width: 20rem;
    }
    .project__intro__show__card__des{
        margin: 2rem;
        font-size: 1.6rem;
    }
    .project__intro__show__title{
        margin-bottom: 4rem;
        font-size: 2.8rem;
        text-align: center;
    }
   

}
@media screen and (max-width:767px) {
    .project__intro__left{
        width: 100%;
        position: relative;
        top: 0;
        order: 2;
    }
    .project__intro__inner{
        flex-direction: column;
    }
    .project__intro__right__wrap{
        width: 100%;
        order: 1;
    }
    .project__intro__right{
        padding-inline: 2rem;
        padding-block: 3rem 4rem;
    }
    .project__intro__show__title{
        font-size: 2.8rem;
        text-align: center;
    }
    .project__intro__show{
        padding-inline: 2rem;
    }
    .project__intro__show__card{
        width: 25rem;
    }
    .project__intro__show__inner{
        justify-content: center;
        gap: 3rem;
    }
}
/* project__realestate */

.project__realestate__menu{
    background-color: #E0E0E0;
    overflow: hidden;
}
.project__realestate__menu__inner{
    display: flex;
    margin: auto;
    column-gap: .5rem;
    justify-content: center;
}
.project__realestate__menu__item{
    padding: 2.05rem 1rem 1.65rem 1rem ;
    font-weight: bold;
    cursor: pointer;
    transition: color .6s ease, background-color .4s ease, box-shadow .4s ease;
    margin-top: -.4rem;
    margin-bottom: -1px;
    border-radius: 1rem 1rem 0 0;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 0;
        opacity: 0;
        transition: .6s ease opacity;
        background: linear-gradient(to bottom, #1a3d5400 20%, #1A3D54 100%);
    }
    span {
        position: relative;
        z-index: 1;
    }
    &:hover:after {
        opacity: 1;
    }
    &:hover {
        color: white;
    }
}
.project__realestate__menu__item.active{
    color: #fff;
    background-color: #1A3D54;
    box-shadow: 0px -.2rem 1rem 0px rgba(0, 0, 0, 0.25);
}
.project__realestate__title{
background-color: #1A3D54;
padding-left: 12rem;
position: relative;
}
.project__realestate__title__bg {
    position: absolute;
    width: 50%;
    right: 0%;
    bottom: 0;
    mix-blend-mode: soft-light;
    opacity: 50%;
}
.project__realestate__subtitle{
    padding-top: 10rem;
    margin-bottom: 1rem;
    color: #C78F50;
}
.project__realestate__smalltitle{
    color: #fff;
    line-height: 6.4rem;
    padding-bottom: 6rem;
    text-transform: uppercase;
    grid-column: 1/2;
    line-height: 1.6em;
    margin-top: -.2em;
    grid-row: 1/2;
}
.project__realestate__smalltitle__wrap {
    display: grid;
    grid-template-columns:  1fr;
}
.project__realestate__detail{
    margin: 10rem 17.1rem 0;
}
.project__realestate__detail__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .project__realestate__detail__item {
        display: none;
    }
    &.active {
        .project__realestate__detail__item {
            display: block;
        }
    }
}
.project__realestate__detail__item{
    width: 45.56%;
    margin-bottom: 10rem;
    img {
        transition: .6s ease all;
    }
    &:hover img {
        transform: scale(1.1);
    }
}
.project__realestate__detail__item__inner{
    position: relative;
    border-radius: .5rem;
    overflow: hidden;
}
.project__realestate__detail__item__des{
    position: absolute;
    bottom: 0;
    z-index: 3;
    background-color: #fff;
    width: 28.5rem;
    border-radius: 0 .5rem 0 0;
}
.project__realestate__detail__item__des__inner {
    padding-left: 1rem;
    padding-block: 1rem;
    position: relative;
}
.project__realestate__detail__item__des *{
    font-weight: bold;
    color: #1A3D54;
}
.project__realestate__detail__item__des__locate{
    color: #C78F50;
    margin-bottom: 1rem;
}
.project__realestate__detail__item__des__link{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.project__realestate__detail__item__des__link__txt{
    color: #333;
    text-decoration: none;
}
.project__realestate__detail__item__des__link__icon{
    width: 1.8rem;
    margin-left: .5rem;
}
.image__fullfill img{
    aspect-ratio: 488/400;
}
.project__realestate__detail .project__realestate__detail__item:nth-child(2n){
    margin-top: 10rem;
}
.project__realestate__detail__item__img{
    overflow: hidden;
    position: relative;
}
.project__realestate__detail__item__img__overlay{
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(to bottom, #1a3d5400 0%, #1a3d5400 80%, #1A3D54 100%);
}
@media screen and (max-width:991px) {
    .project__realestate__menu__item{
        font-size: 1.4rem;
        width: max-content;
        flex: none;
    }
    .project__realestate__menu__inner{
        justify-content: space-between;
    }
    .project__realestate__title{
        padding-left: 3rem;
    }
    .project__realestate__subtitle{
        padding-top: 2rem;
        font-size: 2.5rem;
    }
    .project__realestate__smalltitle{
        font-size: 2.8rem;
        padding-bottom: 3rem;
    }
    .project__realestate__detail{
        margin: 3rem 4rem;
    }
    .project__realestate__detail .project__realestate__detail__item:nth-child(2n){
        margin-top: 3rem;
    }
    .project__realestate__detail__item {
        margin-bottom: 4rem;
    }
}
@media screen and (max-width:767px) {
    .project__realestate__detail__item__des{
        width: auto;
    }
    .project__realestate__detail{
        margin: 2rem 1rem;
        flex-wrap: wrap;

    }
    .project__realestate__detail__item{
        
        width: 100%;
        margin-bottom: 2rem;
    }
    .project__realestate__detail .project__realestate__detail__item:nth-child(2n){
        margin-top: 0rem;
    }
    .project__realestate__detail__item__des{
        width: 60%;
    }
        .project__realestate__menu__item {
        font-size: 1.4rem;
        padding: 1.4rem 1.2rem 1rem 1.2rem;
    }
    .project__realestate__smalltitle{
        line-height: 4rem;
        padding-bottom: 2rem;
    }
}
.project_hero {
    height: 100vh;
    padding-block: 20vh 6vh;
    position: relative;
    overflow: hidden;
  
    .kl-container {
      position: relative;
      z-index: 4;
      display: flex;
      padding-right: 0;
      column-gap: .4rem;
      height: 76vh;
    }
  }
  
  .project_hero_content {
    width: 59rem;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project_hero_swiper {
    flex: 1;
    width: 100%;
    cursor: pointer;
    overflow: visible;
    width: 32rem;
    margin-inline: 0;
    /* padding-left: 1rem; */
  }
  .project_hero_swiper_wrap {
    width: 100%;
    overflow: hidden;
    margin-top: auto;
    padding-right: 4.4rem;
    padding-left: 1.6rem;
    padding-block: 2rem;
    margin-bottom: -2rem;
  }
  
  .project_hero_swiper_slide {
    width: 32rem;
    border-radius: 1rem;
    border: .2rem solid #FFF;
    overflow: hidden;
    margin-top: auto;
    transition: box-shadow .4s ease;
    &.swiper-slide-active {
      box-shadow: 0px 0px 1rem .5rem rgba(255, 255, 255, 0.25);
    .project_hero_swiper_slide_inner {
        height: 40rem;
      }
    } 
  }
  .project_hero_swiper_slide_inner {
    height: 35rem;
    transition: height ease .4s;
  }
  .project_hero_swiper {
    margin-top: auto;
  }
  .project_hero_content_title_wrap {
    display: grid;
    grid-template-columns: 1fr;
    transition: height ease .6s;
    /* overflow: hidden; */
  }
  
  .project_hero_content_label {
    color: #C78F50;
    margin-bottom: 3.2rem;
    line-height: 1.2;
  }
  
  .project_hero_content_title {
    /* margin-bottom: 2.4rem; */
    font-size: 6.4rem !important;
    grid-column: 1/-1;
    line-height: 1.25em;
    grid-row: 1/2;
    color: white !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    /* line-height: 1.6em  !important; */
    height: max-content;
    /* } */
  }
  
  .project_hero_content_sub {
    margin-top: 2.4rem;
    max-width: 39rem;
    color: white;
    margin-bottom: 3rem;
  }
  
  .project_hero_overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(90deg, rgba(26, 61, 84, 0.50) 0%, rgba(26, 61, 84, 0.00) 100%);
  }
  
  .project_hero_overlay_horizontal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40%;
    z-index: 3;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
  }
  
  .project_hero_bg {
    position: absolute;
    inset: 0;
    z-index: 1;
    img {
        will-change: transform;
    }
  }
  
  .project_hero_bg_inner {
    height: 100%;
  }
  
  .project_hero_content_btn {
    padding: 1rem 2rem !important;
    border-radius: .5rem;
    background-color: white !important;
    display: flex;
    column-gap: 1rem;
    width: max-content;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: 700;
    border: none;
    transition: background-color ease .4s;
  
    * {
      color: #1A3D54 !important;
      transition: color ease .4s;
    }
  
    svg {
      width: 2.4rem;
      transition: transform .4s ease;
    }
  
    &.btn:hover {
      background-color: #1A3D54 !important;
  
      * {
        color: white !important;
      }
  
      svg {
        transform: translateX(.6rem);
      }
    }
  }
  .project_hero_bg {
    display: grid;
    grid-template-columns: 1fr;
    pointer-events: none;
  }
  .project_hero_bg_inner {
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    transition: .6s ease opacity;
    &.active {
      opacity: 1;
    }
  }
  .project_hero_control_main {
    display: flex;
    gap: 1rem;
    flex: none;
  }
  
  .project_hero_control {
    display: flex;
    gap: 8.8rem;
    align-items: end;
  }
  
  .project_hero_control_item {
    color: white;
    border: 1px solid white;
    border-radius: .5rem;
    background-color: transparent;
    transition: background-color ease .4s;
    cursor: pointer;
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &.swiper-button-disabled {
      pointer-events: none;
      opacity: .4;
    }
    svg {
      width: 1.6rem;
    }
  
    &:hover {
      background-color: white;
      color: #1A3D54;
  
    }
  }
  
  .project_hero_control_progress {
    flex: 1;
    border-radius: 1rem;
    height: .5rem;
    background: rgba(255, 255, 255, 0.50);
    position: relative;
    .swiper-scrollbar-drag{
      border-radius: 1rem;
      background:  linear-gradient(180deg, #E6AF6C 0%, #AA7136 100%);
    }
  }
  .project_hero_swiper .project_hero_control_progress {
    display: none;
  }
  .project__cta__inner{
    background: url(../img/bg_contact.png) no-repeat center;
    background-size: 100% 100%;
    display: flex;
    min-height: 40rem;
    padding: 11rem 0 6rem 12rem;
    justify-content: space-between;
  }
  .project__cta__subtitle{
    color: #C78F50;
  }
  .project__cta__smalltitle{
    color: #fff;
    margin-top: 2rem;
  }
  .project__cta__des{
    color: #fff;
    font-family: Roboto;
    font-size: 1.8rem;
    margin-top: 2rem;
  }
  .project__cta__left{
    width: 64%;
  }
  .project__cta__right{
    width: 23%;
  }
  .project__cta__right__contact{
    color: #fff;
    background: linear-gradient(to bottom, #E6AF6C, #AA7136 );
    padding: 1rem 6rem;
    margin-top: 7rem;
    display: block;
    width: max-content;
    border-radius: .5rem;
  }
  @media only screen and (max-width: 991px) {
    .project_hero_content_title{
        font-size: 4.4rem !important;
    }
    .project_hero_content_label {
        font-size: 2.8rem;
        margin-bottom: 1rem;
    }
    .project_hero_content {
        width: 38rem;
    }
    .project_hero {
        height: auto;
         .kl-container {
            height: auto;
         }
    }
    .project__realestate__menu__inner {
        gap: 0;
    }
    .project__cta__inner {
        flex-direction: column;
        padding: 8rem 0 8rem 4rem;
    }
  }
  @media only screen and (max-width: 767px) {
    .project_hero_swiper .project_hero_control_progress {
        display: block;
        margin-top: 4rem;
    }
    .project_hero_content_label {
        margin-bottom: 1.2rem;
    }
    .project_hero_content_title {
        font-size: 3rem !important;
        line-height: 1.4em;
    }
    .project_hero_control_main {
        display: none;
    }
    .project_hero_content {
        width: 100%;
        min-height: 36rem;
    }
    .project_hero {
        padding-top: 10rem;
    }
    .project_hero .kl-container {
        display: flex;
        flex-direction: column;
    }
    .project_hero_control_progress.hidden-mob {
        display: none;
    }
    .project_hero_swiper_slide {
        &.swiper-slide-active {
            .project_hero_swiper_slide_inner {
                height: 35rem;
            }
        }
    }
    .project__cta__inner {
        flex-direction: column;
        padding: 6rem 2rem 6rem 2rem;
    }
    .project__cta__smalltitle {
        margin-top: 1rem;
    }
    .project__cta__left {
        width: 100%;
    }
    .project__cta__des {
        font-size: 1.6rem;
    }
  }
  