.project__intro{
    margin-bottom: 5rem;
}

.project__intro__inner{
    position: relative;
    display: flex;
    justify-content: right;
}
.project__intro__left{
    position: absolute;
    left: 0;
    top: 6rem;
    width: 71rem; 
}
.project__intro__right{
    width: 55rem;
    margin-left: 24.3rem;
    
}
.project__intro__right__subtitle{
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #C78F50;
}
.project__intro__right__smalltitle{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: #1A3D54;
}
.project__intro__right__des{
    font-size: 1.8rem;
}
.project__intro__right__wrap{
    background: url("../img/Rectangle43.png") no-repeat 100% 100%;
    width: 63.611%;
    height: 73.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        background-size: 100% 100%;
}
.project__intro__show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.project__intro__show__wrap{
    width: 91.2rem;
}
.project__intro__show__title{
    font-size: 3.6rem;
    font-weight: bold;
    margin-bottom: 6rem;

}
.project__intro__show__inner{
    display: flex;
    justify-content: space-between;
    margin-left: 8.2rem;
}
.project__intro__show__card{
width: 22rem;
border: #1A3D54 1px solid;
border-radius: .5rem;
border-bottom-width: .6rem;
}
.project__intro__show__card__img{
    width: 5.4rem;
    margin: 3rem auto 0;
}
.project__intro__show__card__des{
    margin: 3rem 3rem;
}

@media only screen and (max-width:991px) {
    .project__intro__left{
        width: 40%;
    }
    .project__intro__right__wrap{
        height: auto;
    }
    .project__intro__right{
        width: auto;
        padding-right: 1rem;
        margin-left: 0;
        padding-left: 4.5rem;
        padding-bottom: 9rem;
    }
    .project__intro__show__inner{
        flex-wrap: wrap;
        margin-left: 0;
    }
    .project__intro__show__wrap{
        width: auto;
    }
    .project__intro__right__smalltitle{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .project__intro__right__subtitle{
        font-size: 1.8rem;
        margin-top: 2rem;
        
    }
    .project__intro__right__des{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .project__intro__show__card{
        width: 20rem;
    }
    .project__intro__show__card__des{
        margin: 2rem;
        font-size: 1.5rem;
    }
    .project__intro__show__title{
        margin-bottom: 3rem;
    }
}
@media screen and (max-width:767px) {
    .project__intro__left{
        width: 100%;
        position: relative;
        top: 0;
    }
    .project__intro__inner{
        flex-direction: column;
    }
    .project__intro__right__wrap{
        width: 100%;
    }
    .project__intro__right{
        padding-inline: 2rem;
    }
    .project__intro__show__title{
        font-size: 2rem;
        text-align: center;
    }
    .project__intro__show{
        padding-inline: 1rem;
    }
    .project__intro__show__card{
        width: 25rem;
    }
    .project__intro__show__inner{
        justify-content: center;
        gap: 3rem;
    }
}
/* project__realestate */

.project__realestate__menu{
    background-color: #E0E0E0;
}
.project__realestate__menu__inner{
    display: flex;
    margin: auto;
    justify-content: center;
}
.project__realestate__menu__item{
    padding: 1.65rem 1rem ;
    font-weight: bold;
    cursor: pointer;
}
.project__realestate__menu__item.active{
    color: #fff;
    background-color: #1A3D54;
    border-radius: 1rem 1rem 0 0;
}
.project__realestate__title{
background-color: #1A3D54;
padding-left: 12rem;
}
.project__realestate__subtitle{
    padding-top: 10rem;
    margin-bottom: 1rem;
    color: #C78F50;
    font-size: 3.6rem;
    font-weight: bold;
}
.project__realestate__smalltitle{
    color: #fff;
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 6.4rem;
    padding-bottom: 6rem;
}
.project__realestate__detail{
    margin: 10rem 17.1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project__realestate__detail__item{
    width: 45.56%;
    margin-bottom: 10rem;
}
.project__realestate__detail__item__inner{
    position: relative;
}
.project__realestate__detail__item__des{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 28.5rem;
    padding-left: 1rem;
    border-radius: .5rem;
}
.project__realestate__detail__item__des *{
    font-weight: bold;
}
.project__realestate__detail__item__des__locate{
    color: #C78F50;
}
.project__realestate__detail__item__des__link{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.project__realestate__detail__item__des__link__txt{
    color: #333;
    text-decoration: none;
}
.project__realestate__detail__item__des__link__icon{
    width: 1.8rem;
    margin-top: .8rem;
    margin-left: .5rem;
}
.image__fullfill img{
    aspect-ratio: 488/400;
}
.project__realestate__detail .project__realestate__detail__item:nth-child(2n){
    margin-top: 10rem;
}
.project__realestate__detail__item__img{
    position: relative;
}
.project__realestate__detail__item__img__overlay{
position: absolute;
    inset: 0;
background: linear-gradient(to bottom, #1a3d5400 0%, #1a3d5400 50%, #1A3D54 100%);
}
@media screen and (max-width:991px) {
    .project__realestate__menu__item{
        font-size: 1.2rem;
    }
    .project__realestate__menu__inner{
        justify-content: space-between;
    }
    .project__realestate__title{
        padding-left: 3rem;
    }
    .project__realestate__subtitle{
        padding-top: 2rem;
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .project__realestate__smalltitle{
        font-size: 3.5rem;
        padding-bottom: 3rem;
    }
    .project__realestate__detail{
        margin: 3rem 4rem;
    }
    .project__realestate__detail .project__realestate__detail__item:nth-child(2n){
        margin-top: 3rem;
    }
}
@media screen and (max-width:767px) {
    .project__realestate__detail__item__des{
        width: auto;
    }
    .project__realestate__detail{
        margin: 2rem 1rem;
        flex-wrap: wrap;

    }
    .project__realestate__detail__item{
        width: 100%;
        margin-bottom: 2rem;
    }
    .project__realestate__detail .project__realestate__detail__item:nth-child(2n){
        margin-top: 0rem;
    }
    .project__realestate__detail__item__des{
        width: 60%;
    }
    .project__realestate__menu__inner{
        flex-wrap: wrap;

    }
        .project__realestate__menu__item {
        font-size: 1rem;
        padding: .8rem .5rem;
    }
    .project__realestate__smalltitle{
        font-size: 2.5rem;
        line-height: 4rem;
        padding-bottom: 2rem;
    }
    .project__realestate__subtitle{
        font-size: 1.8rem;
    }
}