.project_detail_thumb {
  padding-block: 16rem;
  background-color: #F3F7FB;
}
.project_detail_thumb_navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: -12rem;
  right: -12rem;
}
.project_detail_thumb_navi_item {
  border-radius: .5rem;
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C78F50;
  color: #C78F50;
  transition: all ease .4s;
  &:hover {
    color: white;
    background-color: #C78F50;
  }
  svg {
    width: 2.2rem;
  }
}
.project_detail_thumb {
  overflow: hidden;
}
.project_detail_thumb_main {
  position: relative;
  overflow: visible;
  width: 88.5rem;
}
.project_detail_thumb_item {
  background-color: white;
   img {
    transition: all ease .4s;
   }
   &.swiper-slide-active {
    transform: scale(1.1);
   }
}
.project_detail_thumb_item:not(.swiper-slide-active) {
  img {
    opacity: 0.5;
    mix-blend-mode: luminosity;
  }
}